{% extends '_base.html' %}


{% block title %}Factors{% endblock title %}


{% block content %}
  <h1>Search Factor<h1>
    <div>
      hello
      <form class="form-inline mt-2 mt-md-0" action="{% url 'search_results' %}"
      method="get">
        <input name="accnumber" class="form-control mr-sm-2" type="text" placeholder="Search"
        aria-label="Search">
        <input name="dateupdate" class="form-control mr-sm-2" type="text" placeholder="Search"
        aria-label="Search">
        <input type="submit" value="Submit">
      </form>
    </div>
  <!-- {% for factor in factor_list %}
    <div>
      <h2><a href="{{ factor.get_absolute_url }}">{{ factor.ac }}</a></h2>
    </div>
  {% endfor %} -->
{% endblock content %}
