[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0.4"
psycopg2-binary = "==2.9.9"
django-crispy-forms = "==2.1"
crispy-bootstrap5 = "*"
django-allauth = "==0.61.1"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.11"
