{% extends '_base.html' %}
{% load static %}

{% block title %}Biologist{% endblock title %}

{% block content %}

<h2>Biologist</h2>
<table class="table">
        <thead>
          <tr>
            <th scope="col">Motif</th>
            <th scope="col">Confirm</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          
          {% for biologist in biologist_list %}
            <tr>
              <td class="sequence"><a href=""></a>{{ biologist.sequences }}</td>
              <td><a href="{% url 'biologist_delete' biologist.pk  %}" class="btn btn-danger">Confirm</a></td>
              <td><a href="{% url 'biologist_delete' biologist.pk  %}" class="btn btn-danger">No Confirm</a></td>
            </tr>
            
          {% endfor %}
        </tbody>
      </table>


{% endblock content %}