h1 {
  color: rgb(71, 189, 124);
  margin-left: 20px;
  font-family: 'Times New Roman', Times, serif;

  }

  
.bookcover {
  height: 500px;
  width: auto;
  }

h5 {
  color: brown;
}
h3 {
  color: blue;
}

.result_sequences {
  width: 100%;
  overflow-wrap: break-word;

}

.highlight {
  background-color: rgb(201, 130, 134); /* Change this to the desired highlight color */
}

.type1 {
  /* Color for sequence type 1 */
  background-color: lightblue;
}

.type2 {
  /* Color for sequence type 2 */
  background-color: lightgreen;
}

td, th {
  padding: 10px;
  color: black;
  border: black;
}

table {
  text-decoration: none !important;
  table-layout: fixed;
  page-break-inside: avoid;
  text-align: center !important;
  width: 90%;
  border: black;
}

/* table.table_biologist {
  background-color: #CAE6DC !important;
} */

a {
  text-decoration: none !important;
}

th.page {
  width: 75%;
}

th.viewon, th.delete {
  width: 15%;
}

.image_logo {
  height: 110px;
  width: auto;
  margin-bottom: 0%;
  margin-top: 5px;
}

.my-2.my-md-0.mr-md-3 {
  text-align:center;
  width: 100%;
  font-size: 25px;
  text-decoration: none !important;
}

.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-green.border-bottom.shadow-sm {
  text-align:center;
  background-color: aliceblue;
  margin-bottom: 0% !important;
  padding: 0% !important;

  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;

}



.btn.btn-outline-primary {
  text-align: right;
  width: 100px;
  margin-left: 10px;
}

.text-wrap {
  overflow-wrap: anywhere;
}

.navbar-brand.my-0.mr-md-auto.font-weight-normal {
  color: green;
  font-size: 28px;
  margin-left: 10px;
  font-family: 'Times New Roman', Times, serif;

}

.user-history {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}

.container_home {
  width: 100%;
  background-color: #CAE6DC;
  margin: 0%;
  padding: 0%;
}

.history {
  width: 90%;
  margin-left: 30px;
}

h2 {
  margin-left: 20px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 40px;
  color: rgb(71, 189, 124);
}

.about {
  margin-left: 40px;
  width: 100%;
  text-align: left;
}
.result_sequences {
  margin-left: 50px;
}

.factor-ac {
  margin-left: 300px;
}

.search_results {
  margin-left: 100px;
}

.container-logout{
  text-align: center;
  margin-top: 100px;
}

.logout {
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(71, 189, 124);

}

.cofirm_logout {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

.hompage {
  margin-left: 30px;
  font-family: 'Times New Roman', Times, serif;
}

.btn.btn-outline-primary {
  width: 120px;
}

.signup {
  margin-left: 40px;
}

.login {
  margin-left: 40px;
}

.biologist_create {
  margin-left: 80px;
}

.column {
  float: left;
  width: 50%;

}



.column_image {
  float: left;
  width: 700px;
  height: auto;
  margin-left: 50px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row1 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.about_home_function {
  margin-top: 20px;
  margin-left: 50px;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

.home_crequest {
  width: 100% !important;
}

body {
  background-color: #CAE6DC;
  font-family: 'Times New Roman', Times, serif;

}

p.display_result_motif {
  /* overflow-wrap: break-word; */
  width: 90%;
  display: block;
}