h1 {
  color: rgb(134, 224, 187);
  }

  
.bookcover {
  height: 500px;
  width: auto;
  }

h5 {
  color: brown;
}
h3 {
  color: blue;
}

.result_sequences {
  width: 100%;
  overflow-wrap: break-word;

}

.highlight {
  background-color: rgb(201, 130, 134); /* Change this to the desired highlight color */
}

.type1 {
  /* Color for sequence type 1 */
  background-color: lightblue;
}

.type2 {
  /* Color for sequence type 2 */
  background-color: lightgreen;
}

table {
  background-color: aqua;
  overflow-wrap: anywhere;
}

table.table > td.sequence {
  background-color: crimson;
}

