{% extends '_base.html' %}


{% block title %}About{% endblock title %}


{% block content %}
<h2>About</h2>

<p class="about">This database is a collection of nucleotide sequence motifs related to the regulations of gene expressions, such as promoters, in higher plants.
   The data are annotated and the database provides users with information of publications,
   links to PubMed and DDBJ/EMBL/GenBank accession numbers. Users can search this database for possible motifs in their own sequence data.</p>
{% endblock content %}
