{% extends '_base.html' %}


{% block title %}Enter New Data{% endblock title %}


{% block content %}
<div class="container"></div>
<h1>Enter New Data</h1>
<h5>Please, fill the form from top to bottom</h5>
<form class="form-horizontal" action="/action_page.php">

  <h4>Identification</h4>
  <div class="form-group">
    <label class="control-label col-sm-2" for="name">Name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" placeholder="" name="name">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email:</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" placeholder="" name="email">
    </div>
  </div>

  <h4>Site information</h4>
  <div class="form-group">
    <label class="control-label col-sm-2" for="species">Species:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="species" placeholder="" name="species">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="sitesequence">Site sequence:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="sitesequence" placeholder="" name="sitesequence">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="nameofsite">Name Of Site:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="nameofsite" placeholder="" name="nameofsite">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="longnameofsite">Long name of site:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="longnameofsite" placeholder="" name="longnameofsite">
    </div>
  </div>




  <div class="form-group">
    <label class="control-label col-sm-2" for="geneaccnumber">Gene AccNumber:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="geneaccnumber" placeholder="" name="geneaccnumber">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="nameofgene">Name of gene:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="nameofgene" placeholder="" name="nameofgene">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="celltype">Cell type:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="celltype" placeholder="" name="celltype">
    </div>
  </div>


  <div class="form-group">
    <label class="control-label col-sm-2" for="positionstart">Position start:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="positionstart" placeholder="" name="positionstart">
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="positionend">Position end:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="positionend" placeholder="" name="positionend">
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="transcriptionstart">Transcription start:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="transcriptionstart" placeholder="" name="transcriptionstart">
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="length">Length:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="length" placeholder="" name="length">
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="method">Method:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="method" placeholder="" name="method">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="functionofsite">Function of site:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="functionofsite" placeholder="" name="functionofsite">
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="referencesource">Reference source:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="referencesource" placeholder="" name="referencesource">
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="title">Title:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="title" placeholder="" name="title">
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="authors">Authors:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="authors" placeholder="" name="authors">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="pmid">PMID:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="pmid" placeholder="" name="pmid">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Function:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="email" placeholder="" name="email">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Sequence:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="email" placeholder="" name="email">
    </div>
  </div>



  <input type="submit" value="Submit">
  <input type="reset" value="Clear Form">
</form>
</div>
{% endblock content %}