<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>Query CARE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

</div>

</body>
</html> -->

{% extends '_base.html' %}


{% block title %}Query CARE{% endblock title %}


{% block content %}
<div class="container">

  <h1>Query CARE</h1>
  <form class="form-horizontal" action="{%url 'search_results'%}" method="get">
    <div class="form-group">
      <label class="control-label col-sm-2" for="identifier">Unique identifier:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="identifier" name="identifier">
      </div>
    </div>
  
    <div class="form-group">
      <label class="control-label col-sm-2" for="accnumber">Unique accession number:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="accnumber"  name="accnumber">
      </div>
    </div>
  
    <div class="form-group">
      <label class="control-label col-sm-2" for="dateupdate">Date of update:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="dateupdate"  name="dateupdate">
      </div>
    </div>
  
    <div class="form-group">
      <label class="control-label col-sm-2" for="briefdescription">Brief description of the motif:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="briefdescription" placeholder="" name="briefdescription">
      </div>
    </div>
  
    <div class="form-group">
      <label class="control-label col-sm-2" for="keywords">Keywords:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="keywords" placeholder="" name="keywords">
      </div>
    </div>
  
    <div class="form-group">
      <label class="control-label col-sm-2" for="os">Common name and/or scientific name of plant species:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="os" placeholder="" name="os">
      </div>
    </div>
  
    <div class="form-group">
      <label class="control-label col-sm-2" for="authorname">Author name(s) of a relevant report:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="authorname" placeholder="" name="authorname">
      </div>
    </div>
  
    <div class="form-group">
      <label class="control-label col-sm-2" for="titlereport">Title of the report:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="titlereport" placeholder="" name="titlereport">
      </div>
    </div>
  
    <div class="form-group">
      <label class="control-label col-sm-2" for="bibliographic">Bibliographic information of the report:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="bibliographic" placeholder="" name="bibliographic">
      </div>
    </div>
  
    <div class="form-group">
      <label class="control-label col-sm-2" for="rd">PubMed ID numbers or GenBank accession number:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="rd" placeholder="" name="rd">
      </div>
    </div>
  
    <div class="mb-3">
      <label class="control-label col-sm-2" for="sequence">Motif sequence:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="sequence" placeholder="" name="sequence">
      </div>
    </div>

    <div class="mb-3">
      <input type="submit" value="Submit">
      <input type="reset" value="Reset">

    </div>
  
  </form>
</div>
{% endblock content %}
