{% extends '_base.html' %}
{% load static %}

{% block title %}Search For CARE{% endblock title %}


{% block content %}
<h2>Result Search For CARE</h2>

<div class="result_sequences">
  <h3>fragment_results</h3>
  <p class="display_result_motif">{{history_detail.Belong_history_search_care.F_r|safe }}</p>
  
  <h3>Motif found in sequence to submit</h3>

  
  {% for i in Ms %}
    <p><a href="{% url 'Detail_ac' pk=i.id %}">{{ i.ac }}</a>: <span class="highlight" style="background-color: {{i.color}}; color:white; padding-right: 8px; padding-left: 8px;">{{ i.sq }}</span></p>
  {% endfor %}


  {% comment %} <p>{{ motif_found }}</p> {% endcomment %}

  <h3>reverse_fragment_results</h3>
  <p class="display_result_motif">{{history_detail.Belong_history_search_care.R_f_r|safe }}</p>

  <!-- {% for factor in motif_found %}
      <p><a href="{{ searchforcare.get_absolute_url }}">{{factor}}</a></p>
  {% endfor %}
      <h3><a href="{{ factor.get_absolute_url }}">{{ factor.ac }}</a></h3>
      <p>AC: {{ factor.ac }}</p>
      <p>DT: {{ factor.dt }}</p>
      <p>RD: {{ factor.rd }}</p>  --> 
  <h3>Motif found in sequence_reverse to submit</h3>
  {% for i in Ms_r %}
    <p><a href="{% url 'Detail_ac' pk=i.id %}">{{ i.ac }}</a>: <span class="highlight" style="background-color: {{i.color}}; color:white; padding-right: 8px; padding-left: 8px;">{{ i.sq }}</span></p>
  {% endfor %}
  {% comment %} <p>{{ reverse_motif_found }}</p> {% endcomment %}

</div>

{% endblock content %}
