{% extends "_base.html" %}
{% load static %}

{% load humanize %}

{% block content %}
<div class="container">
    <h2>History Page</h2>

        <div class="row">
            <div class="col-12">
                <table class="user-history">
                <thead>
                <tr>
                    <th scope="col">Page</th>
                    <th scope="col">Viewed On</th>
                    <th scope="col">Deledte</th>
                </tr>
                </thead>
                <tbody>
                
                {% for history in history_lists %}
                    <tr>
                        <td class="text-wrap" style="overflow-wrap: anywhere;">
                            <a href="{% if history.Belong_history_search_care %}{% url 'history_detail_search_care' pk=history.id %}{% else %}{% url 'history_detail_query_care' pk=history.id %}{% endif %}">{{history.query}}</a>
                        </td>
                        <!-- <td class="text-wrap" style="overflow-wrap: anywhere;">{{ history.query }}</td> -->
                        <td>{{ history.created_at }}</td>
                        <td><a href="{% url 'history_delete' history.pk  %}" class="btn btn-danger">Delete</a></td>
                    </tr>
                {% endfor %}
                    
                
                </tbody>
            </table>
            </div>
        </div>  
</div>  

{% endblock content %}